/* a:hover {
  text-decoration: underline rgb(157, 0, 255);
  transform-origin: bottom right;
transition: 0.3s ;

} */
a:hover::after{
    transition-timing-function: transform 0.2s ease-in-out;
transform: scaleX(0);
}
a:hover::after{
    /* transition-timing-function: transform 0.2s ease-in-out; */
transform: scaleX(1);
}
.button{
  width: 28%;
  height: 60px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgb(90, 23, 144);
  text-align: center;
  color: white;
  padding: 11px;
 
}
.pic{
  opacity: 55%;
}
.butt{
  background-color:rgb(90, 23, 144);
  border-radius: 30px; 
  height: 55px;
  border: none;
  color: white;
  
}
.r1{
  color:rgb(90, 23, 144);
}
.r2{
  color: rgb(160, 80, 225);
  font-size:larger;
}
.r3{
  font-size: large;
}
/* .mrow{
  animation-play-state: paused;
} */
.mrow:hover{
box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
transform: scale(0.995);
}
.c1:hover{
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
  transform: scale(0.995);
  }
.c2:hover{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    transform: scale(0.995);
 }
.c3:hover{
      box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
      transform: scale(0.995);
 }
.buttcard{
  background-color:rgb(90, 23, 144);
  height: 40px;
  border: none;
  color: white;
  
}
.lastbutt{
 
  border-radius: 30px;
  height: 50px;
  border: 2px solid rgb(90, 23, 144);
  color:rgb(90, 23, 144) ;
  
}
.firstbar{
  background-color:rgb(90, 23, 144);
}
.lastbutt:hover{
  background-color:rgb(90, 23, 144);
color: white;
}


@media(max-width:567px){
/* .carousel-caption{
  text-size-adjust:0px;
text-align-last:justify;

}
#carouselExampleDark{
  height: 750px;
} */
/* .pic{
  height: 736px;
} */
.button{
  width: 55%;
  text-align: center;
height: 50px;
font-size:smaller;
}
.h11{
  font-size:200%;
  
  flex-wrap: wrap;
  display: flex;
}
.p1{
  font-size:100%;
  flex-wrap: wrap;
  display: flex;
  text-align:initial;
}
#carouselExampleDark{
  height: 550px;
}
.col-lg-4{
  width: 100%;
}
.rr1{
width: 100%;
}
.butt{
  width: 75%;
  text-align: center;
height: 50px;
font-size:smaller;
}
.p1{
  width: 100%;
}

.n1{
  height: 120px;
  width: 100%;
}

/* .p12{
  text-align: right;
  height: 40px;
  width: 75px;
} */
.c1{
  width: 100%;
}
.c2{
  width: 100%;
}
.c3{
  width: 100%;
}
.r3{
  width: 100%;
 padding-left: 2px;
 text-align:justify;
 font-size:medium;
}
.card-text{
  padding-left: 2px;
  text-align:justify;
  font-size:medium;
}
.ab{
  text-align: center;
}
.abc{
  width: 100%;
 
}
}
