/* a:hover {
  text-decoration: underline rgb(157, 0, 255);
  transform-origin: bottom right;
transition: 0.3s ;

} */
a:hover::after{
    transition-timing-function: transform 0.2s ease-in-out;
transform: scaleX(0);
}
a:hover::after{
    /* transition-timing-function: transform 0.2s ease-in-out; */
transform: scaleX(1);
}
