/* a:hover {
  text-decoration: underline rgb(157, 0, 255);
  transform-origin: bottom right;
transition: 0.3s ;

} */
a:hover::after{
    transition-timing-function: transform 0.2s ease-in-out;
transform: scaleX(0);
}
a:hover::after{
    /* transition-timing-function: transform 0.2s ease-in-out; */
transform: scaleX(1);
}
.button{
  width: 28%;
  height: 60px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgb(153, 0, 255);
  text-align: center;
  color: white;
  padding: 11px;
 
}
.pic{
  opacity: 55%;
}
@media(max-width:567px){
/* .carousel-caption{
  text-size-adjust:0px;
text-align-last:justify;

}
#carouselExampleDark{
  height: 750px;
} */
/* .pic{
  height: 736px;
} */
.button{
  width: 45%;
  text-align: center;
height: 50px;
}
h1{
  font-size:xx-small;
  /* font-size: calc(0.375rem + 3.5vw); */
  flex-wrap: wrap;
  display: flex;
}
p{
  font-size:1%;
  flex-wrap: wrap;
  display: flex;
  text-align:initial;
}
}
